@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgb(39, 48, 56),
    rgb(42, 51, 63),
    rgb(45, 54, 70),
    rgb(48, 58, 78),
    rgb(51, 61, 85),
    rgb(54, 64, 92),
    rgb(55, 68, 94),
    rgb(57, 72, 96),
    rgb(58, 76, 99),
    rgb(59, 80, 101),
    rgb(61, 84, 103),
    rgb(62, 88, 105)
  );
}

.form-login {
  height: auto;
  min-width: 25em;
  max-width: 30em;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  backgdrop-filter: blur(10px);
  color: #fff;
}

.form-login h3 {
  line-height: 30px;
  padding: 10px 0;
  font-size: 2.2em;
}
.form-login p {
  line-height: 30px;
  padding: 10px 0;
  font-size: 1em;
  color: rgb(241 235 235 / 43%);
}
.form-control {
  background-color: transparent !important;
  outline: 0 !important;
  border-color: rgba(255, 255, 255, 0.6) !important;
  padding: 10px !important;
  padding-left: 35px !important;
  padding-right: 58px !important;
  color: #fff !important;
  
}
.input-group i {
  position: absolute;
  z-index: 10000;
  top: 14px;
  left: 10px;
  font-size: 18px;
}

input:focus {
  box-shadow: none !important;
}

input[type="checkbox"] {
  background-color: #005ef3 !important;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
button {
  width: 100%;
  font-weight: normal !important;
  margin: 0.5% 0;
}
.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.show {
  cursor: pointer;
  color: #fff !important;
  position: absolute;
  right: 10px;
}
.asides a {
  color: rgb(241 235 235 / 43%) !important;
  font-size: 14px;
}

.error h1 {
  font-size: 50pt;
  text-transform: uppercase;
  margin: 15px 0;
  font-weight: bold;
}

.error h3 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #303a48 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}