@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,400&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    rgb(39, 48, 56),
    rgb(42, 51, 63),
    rgb(45, 54, 70),
    rgb(48, 58, 78),
    rgb(51, 61, 85),
    rgb(54, 64, 92),
    rgb(55, 68, 94),
    rgb(57, 72, 96),
    rgb(58, 76, 99),
    rgb(59, 80, 101),
    rgb(61, 84, 103),
    rgb(62, 88, 105)
  );
}

.form-login {
  height: auto;
  width: 30em;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  backgdrop-filter: blur(10px);
  color: #fff;
}

.form-login h3 {
  line-height: 30px;
  padding: 10px 0;
  margin: 25px 0;
  font-size: 2.2em;
}
.form-login p {
  line-height: 30px;
  padding: 10px 0;
  font-size: 1em;
  color: rgb(241 235 235 / 43%);
}
input {
  background-color: transparent !important;
  outline: 0 !important;
  border-color: rgba(255, 255, 255, 0.6) !important;
font-size: 12px;
  color: #fff !important;
}
input:focus {
  box-shadow: none !important;
}


input[type="checkbox"] {
  background-color: #005ef3 !important;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
button {
  width: 100%;
  font-weight: normal !important;
  margin: 1% 0;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

label{
    font-size: 15px;
}